:root{
    --Red: hsl(0, 100%, 74%);
    --Green: hsl(154, 59%, 51%);
    --Blue: hsl(248, 32%, 49%);
    --DarkBlue: hsl(249, 10%, 26%); 
    --GrayishBlue: hsl(246, 25%, 77%);
    --white: hsl(0, 0%, 100%);
}

*{
    padding: 0;
    margin: 0;
    outline: none;
    box-sizing: border-box;
}
body{
    background: var(--Red);
    font-family: 'Poppins', sans-serif;
    background-image: url(./images/bg-intro-desktop.png);
  
}

.main_container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.information{
    margin: auto;
    width: 50%;
    padding: 0 120px;
}

.information h2{
    font-size: 50px;
    color: var(--white);
    padding-bottom: 30px;
}

.information p{
    font-size: 17px;
    color: var(--white);
    line-height: 25px;

}
.field_container .free_trial{
    background: var(--Blue);
    height: 55px;
    width: 475px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 22px;
    border-radius: 7px;
}

.free_trial p{
    font-size: 16px;
    color: var(--white);
    font-weight: 700;
}
.free_trial span{
    font-weight: 400;
    color: var(--GrayishBlue);
}

.field_container{
    margin-right: 100px;
}

.fields{
    background: var(--white);
    padding: 20px;
    margin-top: 20px;
    width: 475px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.field{
    position: relative;
    margin: 20px 0;
}
.field label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 16px;
    font-weight: 550;
    color: var(--DarkBlue);
    padding: 0 5px;
    pointer-events: none;
    transition: .6s ;

}
.field input{
    width: 330px;
    height: 40px;
    font-size: 16px;
    color: var(--DarkBlue);
    padding: 0 10px;
    background: var(--white);
    border: 1.5px solid var(--GrayishBlue);
    outline: none;
    border-radius: 5px;
}
.field input:focus~label,
.field input:active~label{
    top: 0;
    font-size: 12px;
    background: var(--white);

}
.error-icon{
    display: none;
}

.btn{
    width: 330px;
    height: 40px;
    border-radius: 5px;
    border: none;
    background: var(--Green);
    color: var(--white);
    text-transform: uppercase;
    font-weight: 700;
}

.cta__terms{
    color: var(--GrayishBlue);
    font-size: 12.5px;
    margin-top: 17px;
    font-weight: 700;
}

.cta__terms a{
    color: red;
    text-decoration: none;
}



@media screen and (max-width: 790px) {
    .main_container{
        padding: 20px 0;
        display: flex;
        flex-direction: column;
    }
    .information{
        padding: 0;
    }
.information h2{
    text-align: center;
}

.information p{
    text-align: center;
    line-height: 30px;
    margin-bottom: 30px;
}
.field_container{
    margin:auto;

}
.field_container .free_trial{
    margin-top: 35px;
    height: 75px;
    width: 270px;
    text-align: center;
    padding: 30px;
    margin: auto;
}


}